<% @projets.each do |projet| %>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 centered">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path projet.vignette.path %>')">
    <%= link_to "", projet_path(projet.id), class: "card-link" %>
      <div class="title">
        <% if projet.title.chars.count > 25 %>
        <h3><%=projet.title.chars.take(20).join + "..."  %></h3>
        <% else %>
        <h3><%=projet.title %></h3>
        <%end%>
      </div>
    </div>
  </div>
<% end %>
