.box-portrait {
  width: 100%;
  margin-bottom: 35px;
  & img {
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  border: white 3px solid;
  width: 500px;
  }
}

@media screen and (max-width: 768px) {
  .box-portrait {
    & img {
    width: 100%;
  }
  }
}

.progression {
  width:100%;

  & img {
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  border: white 3px solid;
  width: 100%;
  max-width: 370px;
  margin-bottom: 20px;
  }
}
