$gold: #9c8e65;
$darkgrey : #505050;
$whitegold : #f1e5c3;

.wrapper-home {
  position: relative;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -162px;
}

html, body {
  height: 100%;
}

.arrow-down {
  position: absolute;
  bottom: 5px;
  left: 50%;
   & i {
  font-size: 20px;
  color: white;
  }
}






