$gold: #9c8e65;
$darkgrey : #505050;
$whitegold : #f1e5c3;
$liliwhite : #EAEAEA;

.container h2 {
  font-size: 125px;
}

.wrapper-home {
  position: relative;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.logo-home {
  & img {
    width: 280px;
  }
}

.wrapper {
  min-height: 100%;
  margin-bottom: -162px;
  padding-top: 50px;
  padding-bottom: 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
  overflow: auto;
  margin: 0 auto;
  & h1 {
    color: #505050;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
}

html, body {
  height: 100%;
}

.arrow-down {
  position: absolute;
  bottom: 5px;
  left: 50%;
   & i {
  font-size: 20px;
  color: white;
  }
}

.test-home-box {
  width: 100%;
  height: 300px;
  background-color: white;
  background-size: cover;
  margin-top: 22px;
  font-size: 100px;
  color: white;
  font-family: 'Source sans pro';
  position: relative;
  overflow: hidden;
  & p {
    position: absolute;
    top: -30px;
    left: -10px;
  }
}

.btn-voir {
  height: 30px;
  font-size: 13px;
  text-transform: uppercase;
  padding: 8px;
  color: #505050;
  border: solid 1px;
  border-color: $liliwhite;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 2px;
  &:hover {
    color: white;
    background-color: #93e3d9;
    border-color: #93e3d9;
    transition: 0.5s;
  }
}

.lead {
  font-size: 17px;
}

.frame_contact {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: white;
  padding-left: 60px;
  width: 100%;
  height:300px;
  color: white;
  & img {
    position: absolute;
    left: 0;
    top: 0;
  }
  & h1 {
    margin: 0px;
  }
  & p {
    margin: 0px;
    margin-bottom: 20px;
  }
}

.contact_responsive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4F4F4F;
  display: none;
}

.btn-contact {
  height: 30px;
  font-size: 13px;
  text-transform: uppercase;
  padding: 8px;
  color: white;
  border: solid 1px;
  border-color: $liliwhite;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 2px;
  &:hover {
    color: #A1E6DC;
    background-color: white;
    border-color: white;
    transition: 0.5s;
  }
}

@media (max-width: 710px) {
  .frame_contact img {
    display: none;
    background-color:#00A398;
  }
}

@media (max-width: 710px) {
  .contact_responsive {
    display: block;
  }
}
