$gold: #9c8e65;
$darkgrey : #505050;
$whitegold : #f1e5c3;

.wrapper-home {
  position: relative;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.logo-home {
  & img {
    width: 280px;
  }
}

.wrapper {
  min-height: 100%;
  margin-bottom: -162px;
  padding-top: 50px;
  padding-bottom: 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
  overflow: auto;
  margin: 0 auto;
  & h1 {
    color: #505050;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
}

html, body {
  height: 100%;
}

.arrow-down {
  position: absolute;
  bottom: 5px;
  left: 50%;
   & i {
  font-size: 20px;
  color: white;
  }
}

.projet-home {
  width: 100%;
  height: 300px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 15px;
  & h3 {
    margin: auto 0;
  }
}

.number-projet {
  width: 40%;
  height: 100%;

}

.pic-projet {
  width: 60%;
  height: 100%;
  float: right;
  overflow: hidden;

  & img {
    width: 100%;
  }
}




