$liliwhite : #EAEAEA;


.box-pro {
padding: 40px;
// border: solid 1px;
border-color: $liliwhite;
width:100%;
margin-bottom: 30px;
& h4 {
  color: #52BBB4
}
}

.box-particuliers {
padding: 40px;
// border: solid 1px;
border-color: $liliwhite;
width:100%;
& h4 {
  color: #52BBB4
}
}

.content-pro {
  text-align: left;
}

.content-particuliers {
  text-align: left;
}
