$gold: #9c8e65;
$darkgrey : #505050;
$whitegold : #f1e5c3;

.container {
  // min-height: calc(100vh - 162px);
  & h3 {
    margin-bottom: 5%;
  }
}

abbr[title="required"] {
  display: none;
}

.card {
  text-decoration: none;
  width: 365px;
  height: 270px;
  margin-bottom: 3px;
  margin-left: 4px;
  margin-right: -1px;
}

.form-control {
  border-color: #EAEAEA;
  box-shadow: none;
}

label {
    padding-bottom: 3%;

}

.title {
  text-decoration: none;
  padding-right: 22px;
  color: white;
  width: 100%;
  position: absolute;
  top: 100px;
  text-transform: uppercase;
  transition: 1.2s;
  & h3 {
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
  }
}


// @media (max-width: 768px) {
//     .container{
//       & img {
//         transition: 1.2s;
//         width: 335px;
//         height: 245px;
//       }
//     }
// }
// .new {
//   padding: 20px;
//   padding-top: 0px;
// }


// @media (max-width: 1200px) and (min-width: 992px) {
//   .col-md-6 {
//       width: 39%;
//       padding-left: 109px;
//   }
// }

// @media (min-width: 1200px) {
//   .col-lg-4 {
//       width: 32.333333%;
//       padding-left: 23px;
//   }
// }

// @media (max-width: 992px) and (min-width: 768px) {
//   .col-sm-6 {
//       width: 50%;
//       padding-left: 0px;
//   }
// }

// @media (max-width: 768px) {
//   .col-xs-12 {
//     width: 100%;
//     padding-left: 8px;
//   }
// }


//// Atachinary container ////

.attachinary_container {
  img {
    padding-top: 15px;
    box-shadow: none;
    width: 250px;
    height: 200px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: none;
    transition: none;
    text-decoration: none;
    position: center;
  }

  li {
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.form-group.attachinary.optional.projet_vignette {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-group.attachinary.optional.projet_photos {
  display: flex;
  align-items: center;
  flex-direction: column;
}
