$gold: #9c8e65;
$darkgrey : #505050;
$whitegold : #f1e5c3;

.container {
  min-height: calc(100vh - 162px);
  & h3 {
    margin-bottom: 5%;
  }
  & img {
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
    width: 365px;
    height: 270px;
    margin-bottom: 11px;
    margin-left: 0px;
    margin-right: -1px;
    border: solid 5px white;
    transition: 1.2s;
  }
}

abbr[title="required"] {
  display: none;
}

.col {
  padding: 0px;
}


.card {
  width: 365px;
  height: 270px;
  margin-bottom: 3px;
  margin-left: 4px;
  margin-right: -1px;
}

.form-control {
  border-color: $whitegold;
  box-shadow: none;
}

label {
    padding-bottom: 3%;

}


.card-link {
  width: 365px;
  height: 270px;
  margin-bottom: 3px;
  margin-left: 4px;
  margin-right: -1px;
  z-index: 999;
}

.title {
  padding-right: 22px;
  color: white;
  width: 100%;
  position: absolute;
  top: 100px;
  text-transform: uppercase;
  transition: 1.2s;
  & h3 {
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
  }
}

// @media (min-width: 768px) {
//     .container-projet{
//         width: 764px;
//     }
// }

@media (max-width: 768px) {
    .container{
      & img {
        transition: 1.2s;
        width: 335px;
        height: 245px;
      }
    }
}
.new {
  padding: 20px;
  padding-top: 0px;
}
// @media (max-width: 768px) {
//     .title {
//       padding-right: 32px;
//     }
// }


// @media (min-width: 992px) {
//     .container-projet {
//         width: 765px;
//     }
// }
// @media (min-width: 1200px) {
//     .container-projet {
//         width: 1131px;
//     }
// }

// @media (min-width: 1200px) {
//   .col-lg-4 {
//       width: 32.2%;
//       padding-left: 20px;
//   }
// }

// @media (max-width: 768px) {
//   .col-xs-12 {
//       width: 98%;
//   }
// }

// @media (max-width: 1200px) {
//   .col-md-6 {
//       width: 39%;
//       padding-left: 105px;
//   }
// }

// @media (max-width: 992px) {
//   .col-sm-6 {
//       width: 39%;
//       padding-left: 105px;
//   }
// }



