$gold: #9c8e65;
$darkgrey : #505050;
$whitegold : #f1e5c3;

.container {
  min-height: calc(100vh - 162px);
  text-align: center;
  padding: 30px;
  max-width: 100%;


  & h3 {
    margin-bottom: 5%;
  }
}


abbr[title="required"] {
  display: none;
}

.btn-send {
  border-style: 1px solid;
  border-color: $whitegold;
  font-family: 'Raleway', sans-serif;
}

.form-control {
  border-color: $whitegold;
  box-shadow: none;
}

label {
    padding-bottom: 3%;

}


.card {
  color: white;
  position: relative;
  width: 365px;
  height: 270px;
  background-size: cover;
  background-position: center;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 2px;
  text-align: center;

  .card-link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
  }

  .card:hover .title {
      display: block;
    }

  .title {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 50px;
  display: none;
  }

  .city {
  position: absolute;
  top: 30px;
  width: 100%;
  height: 50px;
  text-align: center;
  }

  .date {
  position: absolute;
  top: 60px;
  width: 100%;
  height: 50px;
  text-align: center;
  }

  .voir {
    position: absolute;
    top: 90px;
    width: 100%;
    text-align: center;
    color: white;
  }
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

@media (min-width: 768px) {
    .container{
        width: 764px;
    }
}

@media (max-width: 768px) {
    .card {
      width: 335px;
      height: 245px;
    }
}


@media (min-width: 992px) {
    .container {
        width: 765px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1131px;
    }
}



