$gold: #505050;
$darkgrey : #505050;
$whitegold : #f1e5c3;

.new {
  margin: 15px;
  margin-bottom: 34px;
}

.banner_show_projet {
  flex-direction: column;
  width: 100%;
  height: 80vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: white;
  & h1 {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    margin-bottom: -10px;
    font-size: 50px;
  }
}

.description {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -49px;
  p {
    font-family: 'Dosis', sans-serif;
    color: $gold;
    font-size: 16px;
    margin-bottom: 30px;

  }
}

.infos {
  padding-right: 30px;
  padding-left: 30px;
  text-align: left;
  p {
    font-family: 'Raleway', sans-serif;
    color: $gold;
  }
}


.preview-show {
    width: 100%;
    height: 400px;
    & img {
    width: 100px;
    height: 100px;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 11px;
    border: solid 5px white;
    overflow: hidden;
  }
  & h3 {
    color: red;
    font-size: 10px;
  }
}

.next-project {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 270px;
  font-size: 60px;

  & a {
  text-decoration: none;
  color: $gold;
  margin: 40px;
  }
}

.pn-project {
  width: 100%;
  height: 70px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // text-align: center;
}

.fa-chevron-right {
  float: right;
  padding-right: 20px;
  text-decoration: none;
  color: white;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
  }

  .fa-chevron-right:hover {
  padding-right: 17px;
  text-decoration: none;
  color: white;
  font-size: 30px;
  color: rgba(255, 255, 255, 1);
  transition: 0.3s;
  }

  .fa-chevron-left {
  float: left;
  padding-left: 20px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
  font-size: 30px;
  }

  .fa-chevron-left:hover {
  padding-left: 17px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  transition: 0.3s;
  font-size: 30px;
  }

  .fa-chevron-left:visited {
  padding-left: 17px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  }

  .fa-chevron-left:focus {
  padding-left: 17px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  }

  .fa-chevron-left:active {
  padding-left: 17px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  }
// LIGHTBOX 2 //

/* Preload images */
body:after {
  content: url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png);
  display: none;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;

  /* Image border */
  border: 3px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

