$gold: #9c8e65;
$darkgrey : #505050;
$whitegold : #f1e5c3;

.banner_show_projet {
  flex-direction: column;
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: white;
  & h1 {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0px;
  }
}


.wrapper{
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
  overflow: auto;
  margin: 0 auto;
}

.description {
  padding-right: 30px;
  padding-left: 30px;
  text-align: justify;
  p {
    font-family: 'Dosis', sans-serif;
    color: $gold;

  }
}

.infos {
  padding-right: 30px;
  padding-left: 30px;
  text-align: left;
  p {
    font-family: 'Raleway', sans-serif;
    color: $gold;
  }
}
