.square-test-home {
  width: 100%;
  height: 270px;
  background-size: cover;
  background-position: center;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: -15px;
  border: solid 5px white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  & img {
    width: 100%;
    transform: scale(1.4);
  }
}

.square-test-show {
  width: 100%;
  height: 270px;
  background-size: cover;
  background-position: center;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  border: solid 5px white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  & img {
    width: 100%;
    transform: scale(1.4);
  }
}

.title-test {
  color: white;
  text-transform: uppercase;
  & h3 {
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    margin: 0px;
    text-decoration: none;
  }
}

.card-link {
  width: 365px;
  height: 270px;
  margin-bottom: 3px;
  margin-left: 4px;
  margin-right: -1px;
  z-index: 999;
  text-decoration: none;
  & :hover {
    text-decoration: none;
  }
}

.img-responsive {
  margin:0 auto;
}

a:link {
  text-decoration: none;
}

#brick {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 350px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
  border: solid 5px white;

  & img {
    width: 100%;
  }
}
