<footer id="main-footer">

  <p class="copyright"><i class="fa fa-copyright" aria-hidden="true"></i> 2016 - IDA - Interieur / Design / Architecture</p>

  <nav>
    <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
  </nav>

</footer>
