<footer id="main-footer">

  <p class="copyright"><i class="fa fa-copyright" aria-hidden="true"></i> 2017 - IDA - Interieur, Design & Architecture</p>

  <nav>
    <a href="https://www.facebook.com/anto.guyot" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="https://www.behance.net/anthonyguyot" target="_blank"><i class="fa fa-behance" aria-hidden="true"></i></a>
  </nav>

</footer>
