<header id="main-navigation">
  <%= link_to root_path, class: "logo-head" do %>
    <%= image_tag "Logosanstexte.png" %>
  <% end %></a>
    <nav>
      <a href="#">Accueil</a>
      <a href="#">Projets</a>
      <a href="#">Préstations</a>
      <a href="#">Philosophie</a>
      <a href="#">Contact</a>
    <nav>
</header>
</div>
