<div class="banner_pages" style="background-image: url(<%= image_path 'philosophie.jpg' %>)">
  <h1>Agence</h1>
</div>

<div class="container" style="text-align: center; margin-top: 80px;center; margin-bottom: 40px">
    <h1>Intérieur, Design & Architecture</h1>
    <p>Fondée par Anthony GUYOT, architecte d’intérieur diplômé et en exercice en France et en Australie depuis 2011,<br> IDA sublime la singularité de votre projet en puisant son inspiration dans les tendances, l’environnement quotidien, les voyages, l’héritage des traditions<br> mais aussi et surtout dans votre souffle, accompagnant ainsi tant des partis pris forts que des réalisations intemporelles.<br><br>
Les plans, esquisses et visualisations 3D permettent d'appuyer les échanges avec la rigueur d'un support imagé. La phase de création s’achève par une visite virtuelle de votre espace, où un large choix de matériaux, d’objets et de meubles donne peu à peu vie à votre intérieur, avant la réalisation des travaux par une équipe d’artisans soigneusement sélectionnés.
</p>
</div>
<div class="map-box" style="text-align: center; margin-bottom: 40px">
<%= image_tag 'map.png' %>
</div>
