<div class="wrapper-home" style="background-image: url(<%= image_path 'home1.jpg' %>)">
  <div class="logo-home">
    <%= image_tag 'logo-home.png' %>
  </div>
</div>
<div class="container">
  <div class="titre-concept">
    <h1>Concept</h1>
  </div>
  <div class="texte-concept">
    <p>
    Studio d'architecture d'intérieure, IDA conçoit et réalise tous vos projets de neuf, de rénovation, d'extension et vous soulage des démarches administratives qui leurs sont liés. Aussi, IDA vous accompagne en matière de décoration, ameublement et aménagements extérieurs. Idéalement situé dans la ville de La Baule - Escoublac, le studio IDA exerce ses missions sur l'ensemble de la Loire - Atlantique.
    IDA propose également ses prestations aux professionnels ( concept store, restaurant, hôtel, show-room...).
    </p>
  </div>
</div>
