<div class="wrapper-home" style="background-image: url(<%= image_path 'home1.jpg' %>)">
  <div class="logo-home">
    <%= image_tag 'logo-home.png' %>
  </div>
</div>

<div class="home-icon">
    <ul>
      <li><i class="fa fa-cubes" aria-hidden="true" style="color: #70B2CC"></i>
      <p>IDA conçoit et réalise tous vos projets de neuf, de rénovation et d'extension.</p>
      </li>
      <li><i class="fa fa-rocket" aria-hidden="true" style="color: #70ccaa"></i>
      <p>IDA vous accompagne en matière de décoration, ameublement et aménagements extérieurs.</p>
      </li>
      <li><i class="fa fa-map-marker" aria-hidden="true" style="color: #cc7070"></i>
      <p>Situé à La Baule - Escoublac, IDA exerce ses missions sur l'ensemble de la Loire - Atlantique.</p>
      </li>
    </ul>
</div>
