<div class="banner_pages" style="background-image: url(<%= image_path 'philosophie.jpg' %>)">
  <h1>Philosophie</h1>
</div>

<div class="container">
  <div class="row">
    <div class="wrapper">
      <p>Anthony Guyot, architecte d'intérieur et designer diplômé est le fondateur D'IDA Studio. Fort de six années d'experience à Nantes, La Baule et Melbourne en Australie, il s'entoure d'une équipe d'artisans sélectionnés pour leurs compétences et leur professionnalisme.
Le studio IDA exerce avant tout un travail de création. Celui-ci se cultive à travers notre environnement, nos voyages mais surtout grâce aux échanges avec le client.
La personnalité, le cahier des charges et les idées de chaque client font la singularité du projet.
Le second point important dans la philosophie de travail du studio IDA est la communication. Nos idées sont à l'écoute et au service du client.
Nos outils tels que les plans, esquisses ou encore visualisations 3D nous permettent d'appuyer nos échanges avec la rigueur d'un support imagé.
La visite virtuelle des espaces grâce à l'outil 3D permet quant à elle de définir avec le client les lignes de matériaux et d'objets pour finaliser la phase de création en toute sérénité, avant la réalisation des travaux.
La rigueur est le mot d'ordre de la concrétisation du projet afin que les engagements pris par IDA Studio  soient respectés.</p>
    </div>
  </div>
</div>
