<% content_for :meta_title, "Préstations - IDA" %>
<% content_for :meta_description, "IDA est une agence d’architecture d’intérieure et de design qui vous escorte dans vos projets personnels et professionnels" %>
<% content_for :meta_image, image_tag("prestations.jpg")%>

<div class="banner_pages" style="background-image: url(<%= image_path 'prestations.jpg' %>)">
  <h1>Préstations</h1>
</div>

<div class="container">
  <div class="row">
    <div class="wrapper" style="padding-top: 0px">
      <div class="container" style="text-align: center; margin-top: 60px; padding-top: 0px; margin-bottom: 40px">
        <h1 style="margin-top: 0px;">Particuliers et professionels</h1>
        <p>IDA est une agence d’architecture d’intérieure et de design qui vous escorte dans vos projets personnels et professionnels
        </p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="box-particuliers" style="margin-bottom: 30px;">
          <h1>Particuliers</h1>
          <h4>"Neuf, rénovation, extension & Home Staging"</h4>
          <div class="content-pro" style="margin-top: 40px;"  ">
            <h4>1. Clés en main :</h4> <p><br>Accompagnement et prise en charge de toutes les démarches créatives, administratives, de coordination de travaux et d’aménagements intérieurs, jusqu’à la décoration, dont le linge de maison et les arts de la table, à votre gré.</p><br>
            <h4>2. A la carte :</h4>
            <ul>
              <li>étude graphique</li>
              <li>dépôt de permis ou déclaration préalable</li>
              <li>suivi et coordination de travaux (intérieur/extérieur)</li>
              <li>conseils en décoration/modernisation d’intérieur/valorisation avant vente</li>
              <li>conseils lors d’achat sur plan</li>
              <li>Conseils aménagements perte d’autonomie et handicap</li>
              <li>Courtage en travaux</li>
            </ul>

          </div>
        </div>
      </div>

       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="box-pro">
          <h1>Professionnels</h1>
          <h4>"Etablissements recevant du public, Concept Store & accessibilité"</h4>

            <div class="content-particuliers" style="margin-top: 40px;">
              <h4>1. Espaces de vente :</h4><br><p>Restaurant, bar, hôtel, boutique, bureau d’entreprise, ... :</br><br>
              Accompagnement dans le développement de l’identité de votre espace ou création de concept-store.</p><br>
              <h4>2. Personnes en situation de handicap et à mobilité réduite :</h4><br> <p>Mise en conformité de votre espace pour l’accueil de personnes à mobilité réduite (Normes PMR) dans les établissements recevant du public.</p><br>Structuration des espaces de vie des personnes avec troubles du spectre autistique,  déficience intellectuelle ou en perte d’autonomie.<br><br>
              <h4>3. Établissement medico-social :</h4><br><p>Structuration des espaces de vie des personnes avec troubles du spectre autistique et/ou déficience intellectuelle</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" style="text-align: center; margin-bottom: 40px">
    <%= link_to "Voir les projets", projets_path, :class => 'btn-voir'%>
</div>

<%= render 'shared/frame_contact' %>


