<div class="banner_pages" style="background-image: url(<%= image_path 'prestations.jpg' %>)">
  <h1>Services</h1>
</div>

<div class="container">
  <div class="row">
    <div class="wrapper">
      <p>Coming Soon. Don't worry !</p>
    </div>
  </div>
</div>


