$gold: #505050;
$darkgrey : #727272;
$liliwhite : #EAEAEA;

#main-footer {
  padding: 2.5em 5%;
  border-top: 1px solid $liliwhite;
  margin-bottom: -81px;

  .copyright {
    float: left;
    color: $gold;
    font-size: .7em;
    margin-top: -5px;
  }

  nav {
    float: right;
    margin-top: -10px;

    a {
      color: $gold;
      font-size: 1em;
      text-decoration: none;
      transition: 1s;
      margin: 0 .5rem;
    }
  }
}
