$gold: #9c8e65;
$darkgrey : #505050;
$whitegold : #f1e5c3;

#main-navigation {
  padding: 2.5em 5%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.9);
  height: 10px;

  .logo-head img {
    float: left;
    width: 50px;
    margin-top: -27px;
  }

  #menu-dropdown {
    float: right;
    color: $gold;
    font-size: 0.83em;
    z-index: 1001;
    }

  .dropdown-menu {
    top: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
    z-index: 1001;
  }

  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.4;
    color: $gold;
    white-space: nowrap;
    font-family: 'Dosis', sans-serif;
    z-index: 1001;
}

  .dropdown-menu li > a > i {
    margin-right: 10px;
    z-index: 1001;
}

  .nav-right {
    float: right;
    margin-top: -12px;
    a {
      color: $gold;
      font-family: 'Dosis', sans-serif;
      text-transform: uppercase;
      font-size: .83em;
      text-decoration: none;
      transition: 1s;
      margin: 0 1rem;

      i {
        margin-right: 0.5rem
      }

      &:hover{
        color: $darkgrey;
        transition: 1s;
      }
    }
  }
}
