$gold: #9c8e65;
$darkgrey : #505050;
$whitegold : #f1e5c3;

#main-navigation {
  padding: 2.5em 5%;
  border-bottom: 1px solid $whitegold;

  .logo-head img {
    float: left;
    width: 50px;
    margin-top: -27px;
  }
  nav {
    float: right;
    margin-top: -12px;
    a {
      color: $gold;
      font-family: 'Raleway', sans-serif;
      text-transform: uppercase;
      font-size: .8em;
      text-decoration: none;
      transition: 1s;
      margin: 0 1rem;

      i {
        margin-right: 0.5rem
      }

      &:hover{
        color: $darkgrey;
        transition: 1s;
      }
    }
  }
}
