.banner_pages {
  margin-top: 80px;
  flex-direction: column;
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: white;
  & h1 {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
  }
}
